@* @{
    ViewData["Title"] = "Home Page";
} *@
<link href="@Url.Content("~/css/Home.css")" rel="stylesheet" type="text/css" />

<body>
    <div class="container-main">
        <a class="create-user-btn all-btn" asp-area="" asp-controller="User" asp-action="Index">
            
                Register User
            
        </a>

        <a class="clock-in-btn all-btn" asp-area="" asp-controller="TimeEntry" asp-action="Index">Clock in-Clock out</a>

        <a class="view-entries-btn all-btn" asp-area="" asp-controller="TimeEntry" asp-action="UserEntriesRequest">View Staff clock entries</a>



    </div>
</body>
