@model TimesheetApplication.Models.UserEntriesRequest

@{
    ViewData["Title"] = "UserEntriesRequest";
}

<link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/createUser.css")" rel="stylesheet" type="text/css" />


<h2>Enter Staff Username</h2>



<div class="row container-main">
    <div class="col-md-4">
        <form asp-action="UserEntriesRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label" style="color: white"><h3>Username</h3></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Enter" class="all-btn" />
            </div>
        </form>
    </div>
</div>

<div class="back-btn mt-3">
    <a asp-action="Index" style="text-decoration: none; color: white">Back</a>
</div>

